In [1]:
import time
import datetime
import pandas as pd
import numpy as np
import datetime
import warnings
warnings.filterwarnings("ignore")
from matplotlib import pyplot
# Loading datasets
data = pd.read_csv("./Data/NO2.csv", na_values = "NaN",  parse_dates=['Date'], date_parser = pd.to_datetime )

In [2]:
# Replacing -1 values (which is missing values) to NaN
data.replace(-1, 'NaN', inplace=True)
data = data[(data != "NaN")]

In [3]:
#Dataset Data Types
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1275 entries, 0 to 1274
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Date                                1275 non-null   datetime64[ns]
 1   Source                              1275 non-null   object
 2   Site ID                             1275 non-null   int64
 3   POC                                 1275 non-null   int64
 4   Daily Max 1-hour NO2 Concentration  1275 non-null   float64
 5   UNITS                               1275 non-null   object
 6   DAILY_AQI_VALUE                     1275 non-null   int64
 7   Site Name                           1275 non-null   object
 8   DAILY_OBS_COUNT                     1275 non-null   int64
 9   PERCENT_COMPLETE                    1275 non-null   float64
 10  AQS_PARAMETER_CODE                  1275 non-null   int64
 11  AQS_PARAMETER_DESC                  1275 non-null   object
 12  CBSA_CODE                           1275 non-null   int64
 13  CBSA_NAME                           1275 non-null   object
 14  STATE_CODE                          1275 non-null   int64
 15  STATE                               1275 non-null   object
 16  COUNTY_CODE                         1275 non-null   int64
 17  COUNTY                              1275 non-null   object
 18  SITE_LATITUDE                       1275 non-null   float64
 19  SITE_LONGITUDE                      1275 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(8), object(7)
memory usage: 199.3+ KB

In [4]:
#Statistical data Description
data.describe()

,Site ID,POC,Daily Max 1-hour NO2 Concentration,DAILY_AQI_VALUE,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,CBSA_CODE,STATE_CODE,COUNTY_CODE,SITE_LATITUDE,SITE_LONGITUDE
count,1.275000e+03,1275.0,1275.000000,1275.000000,1275.000000,1275.000000,1275.0,1275.0,1275.000000,1275.000000,1275.000000,1275.000000
mean,1.731830e+08,1.0,29.004078,26.970980,23.563922,98.230588,42602.0,16980.0,17.271373,46.739608,41.797989,-87.658283
std,4.705302e+06,0.0,13.036507,12.450339,0.973568,4.003159,0.0,0.0,0.444842,25.800855,0.138276,0.224003
min,1.703101e+08,1.0,2.300000,2.000000,18.000000,75.000000,42602.0,16980.0,17.000000,31.000000,41.606662,-87.876265
25%,1.703131e+08,1.0,19.750000,18.000000,24.000000,100.000000,42602.0,16980.0,17.000000,31.000000,41.606662,-87.876265
50%,1.703140e+08,1.0,27.900000,25.000000,24.000000,100.000000,42602.0,16980.0,17.000000,31.000000,41.855243,-87.752470
75%,1.808900e+08,1.0,36.550000,34.000000,24.000000,100.000000,42602.0,16980.0,18.000000,89.000000,41.965193,-87.304943
max,1.808900e+08,1.0,85.200000,84.000000,24.000000,100.000000,42602.0,16980.0,18.000000,89.000000,41.965193,-87.304943

In [5]:
#Describing Percentage for each column Total Missing Values in the Datasets
data.isnull().sum() * 100 / len(data)

Date                                  0.0
Source                                0.0
Site ID                               0.0
POC                                   0.0
Daily Max 1-hour NO2 Concentration    0.0
UNITS                                 0.0
DAILY_AQI_VALUE                       0.0
Site Name                             0.0
DAILY_OBS_COUNT                       0.0
PERCENT_COMPLETE                      0.0
AQS_PARAMETER_CODE                    0.0
AQS_PARAMETER_DESC                    0.0
CBSA_CODE                             0.0
CBSA_NAME                             0.0
STATE_CODE                            0.0
STATE                                 0.0
COUNTY_CODE                           0.0
COUNTY                                0.0
SITE_LATITUDE                         0.0
SITE_LONGITUDE                        0.0
dtype: float64

In [6]:
# Dataset shape with NaN Values
data.shape

(1275, 20)

In [7]:
# NaN Values Drop and Clean Dataset 
data = data.dropna()

In [8]:
# After removing NaN Values the Dateset shape
data.shape

(1275, 20)

In [9]:
#Extraction in the new column Year, Month, Day, Time from Date
data['Year'] = data.Date.dt.year.astype('int64')
data['Month'] = data.Date.dt.month.astype('int64')
data['Week'] = data.Date.dt.week.astype('int64')
data['Day'] = data.Date.dt.day.astype('int64')
# create a list of our conditions
conditions = [
    (data['DAILY_AQI_VALUE'] <= 50),
    (data['DAILY_AQI_VALUE'] > 50) & (data['DAILY_AQI_VALUE'] <= 100),
    (data['DAILY_AQI_VALUE'] > 100) & (data['DAILY_AQI_VALUE'] <= 150),
    (data['DAILY_AQI_VALUE'] > 151)
    ]

# create a list of the values we want to assign for each condition
values = ['1', '2', '3', '4']

# create a new column and use np.select to assign values to it using our lists as arguments
data['Level'] = np.select(conditions, values)

In [10]:
#Dataset
data

,Date,Source,Site ID,POC,Daily Max 1-hour NO2 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,...,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE,Year,Month,Week,Day,Level
0,2018-01-01,AQS,170310076,1,25.7,ppb,24,COM ED MAINTENANCE BLDG,24,100.0,...,Illinois,31,Cook,41.751400,-87.713488,2018,1,1,1,1
1,2018-01-02,AQS,170310076,1,27.9,ppb,25,COM ED MAINTENANCE BLDG,24,100.0,...,Illinois,31,Cook,41.751400,-87.713488,2018,1,1,2,1
2,2018-01-03,AQS,170310076,1,30.2,ppb,28,COM ED MAINTENANCE BLDG,24,100.0,...,Illinois,31,Cook,41.751400,-87.713488,2018,1,1,3,1
3,2018-01-04,AQS,170310076,1,42.0,ppb,40,COM ED MAINTENANCE BLDG,24,100.0,...,Illinois,31,Cook,41.751400,-87.713488,2018,1,1,4,1
4,2018-01-05,AQS,170310076,1,65.9,ppb,63,COM ED MAINTENANCE BLDG,24,100.0,...,Illinois,31,Cook,41.751400,-87.713488,2018,1,1,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1270,2018-12-27,AQS,180890022,1,10.0,ppb,9,Gary-IITRI/ 1219.5 meters east of Tennessee St...,24,100.0,...,Indiana,89,Lake,41.606662,-87.304943,2018,12,52,27,1
1271,2018-12-28,AQS,180890022,1,11.4,ppb,10,Gary-IITRI/ 1219.5 meters east of Tennessee St...,24,100.0,...,Indiana,89,Lake,41.606662,-87.304943,2018,12,52,28,1
1272,2018-12-29,AQS,180890022,1,17.8,ppb,16,Gary-IITRI/ 1219.5 meters east of Tennessee St...,24,100.0,...,Indiana,89,Lake,41.606662,-87.304943,2018,12,52,29,1
1273,2018-12-30,AQS,180890022,1,13.8,ppb,12,Gary-IITRI/ 1219.5 meters east of Tennessee St...,24,100.0,...,Indiana,89,Lake,41.606662,-87.304943,2018,12,52,30,1
1274,2018-12-31,AQS,180890022,1,20.7,ppb,19,Gary-IITRI/ 1219.5 meters east of Tennessee St...,24,100.0,...,Indiana,89,Lake,41.606662,-87.304943,2018,12,1,31,1

In [12]:
# Spliting dataset for training data and for testing data
from sklearn.model_selection import train_test_split
# Classifier Algorithm libraries loading

from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Features
f = data[['SITE_LATITUDE','SITE_LONGITUDE','COUNTY_CODE','Month','Week','Day']]
# Lables
l = data['Level']
# Spliting 30% data for test and 70% data fro Training
x_train, x_test, y_train, y_test = train_test_split(f, l, test_size=0.3,random_state=42)
# Evaluate Algorithms on default parameters
models = []
models.append(('(Multi-layer Perceptron)', MLPClassifier()))
models.append(('(K-nearest Neighbors)', KNeighborsClassifier()))
models.append(('(Naive Bayes)', GaussianNB()))
models.append(('(Logistic Regression)', LogisticRegression()))

for name, model in models:
    print("Model: ",name)
    # Execution time is calculating for each model accuracy
    start = time.time()
    # model fit for traning and prediction
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    # Accuracy Score
    print("Accuracy:", metrics.accuracy_score(y_test, y_pred))
    stop = time.time()
    print("Execution Time: ",stop-start)
    print("\n")
    print('F1:', metrics.f1_score(y_test, y_pred,average='micro'))
    print('Precision:', metrics.precision_score(y_test, y_pred,average='micro'))
    print('Recall:', metrics.recall_score(y_test, y_pred,average='micro'))
    print("\n")
    print("\n#######################################\n")

Model:  (Multi-layer Perceptron)
Accuracy: 0.9608355091383812
Execution Time:  0.2559196949005127


F1: 0.9608355091383812
Precision: 0.9608355091383812
Recall: 0.9608355091383812



#######################################

Model:  (K-nearest Neighbors)
Accuracy: 0.9608355091383812
Execution Time:  0.039986610412597656


F1: 0.9608355091383812
Precision: 0.9608355091383812
Recall: 0.9608355091383812



#######################################

Model:  (Naive Bayes)
Accuracy: 0.9373368146214099
Execution Time:  0.013000965118408203


F1: 0.9373368146214099
Precision: 0.9373368146214099
Recall: 0.9373368146214099



#######################################

Model:  (Logistic Regression)
Accuracy: 0.9608355091383812
Execution Time:  0.03798508644104004


F1: 0.9608355091383812
Precision: 0.9608355091383812
Recall: 0.9608355091383812



#######################################